:root{
    --body-color:rgba(210,200,190,205);
    --head-color:rgba(250, 235, 215, 1);
    --calculator-head-color:rgba(120,120,120,255);
    --calculator-keys-color:rgba(225,220,217,255);
    --calculator-font-color:rgba(30,30,30,255);
    --calculator-operator-color:rgba(161,180,72,255);
    --calculator-equal-color:rgba(1,61,247,255);
    --calculator-keys-border: 0.85px solid rgba(214,209,206,255);
    --calculator-body-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 28.5px 48px 0 rgba(0, 0, 0, 0.19);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&display=swap');

body, html, header, .calculatorBody, .calculatorKeys, .calculatorRow, .calculatorHead, 
.calculatorResult, .calculatorOperations, .keys{display: flex;} 
body, html, .keys {justify-content: center;}
body, html, .calculatorBody, .keys {align-items: center;}
body, html, .calculatorBody, .calculatorHead, .calculatorKeys{flex-direction: column;}
.calculatorResult, .calculatorOperations {align-items: center;}


body,html
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    margin:0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    background-color: var(--body-color);
    font-weight:600;
    transition: filter 500ms;
}

header
{
    height:76.5px;
    width:595px;
    background-color: var(--calculator-head-color);
    color:var(--calculator-font-color);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}

.Head
{
    display: flex;
    align-items: center;
    padding-left: 38.5px;
    box-sizing: border-box;
    background-color: var(--head-color);
    width:512.5px;
    height: 100%;
}
.Head h1{padding-right: 29px;font-size: 30.5px;}
.Head a{color:var(--calculator-font-color); text-decoration: none; }
.Head div{font-size:16.2px;}
.Head a:hover, .Head a:focus{text-decoration: underline;}

#darkMode
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width:82.5px;
    background-color: rgba(45, 55, 65, 1);
    font-size: 24px;
    height: 100%;
}

.calculatorBody
{
    height:764px;
    width:595px;
    background-color: var(--calculator-head-color);
    font-family: 'modulusbold', monospace;
    box-shadow: var(--calculator-body-shadow);
}

.calculatorHead
{
    color:var(--calculator-font-color);
    width: 100%;
    font-family:  monospace;
    height: 220px;
    background-color:var(--calculator-head-color);
}

.calculatorOperations
{
    width:98%;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: flex-end;
    height:67px;
    font-size: 40px;
    padding-right: 49px;
}


.calculatorResult
{
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    height:153px;
    padding-right: 31px;
    font-size: 50px;
}

.calculatorKeys
{
    width:100%;
    height:545px;
    /* background-color: var(--calculator-keys-color); */
}

.calculatorRow{height:20%;}

.keys 
{
    width:25%;
    text-decoration: none;
    height:100%;
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: 50px;
    color: var(--calculator-font-color);
    border:var(--calculator-keys-border);
    cursor: pointer;
    transition: box-shadow 200ms;
}

.operator{background-color: var(--calculator-operator-color)}
#equalKey{background-color:var(--calculator-equal-color) ;}
#clear{width:50%; background-color: var(--calculator-head-color);}

#darkMode.darkModeToggle {
    filter: invert(1);
    background-color: rgba(210, 200, 190, 1);
}

.keys:hover, .keys:focus, #darkMode.darkModeToggle:hover{box-shadow: inset 0 0 76.5px 76.5px rgba(255, 255, 255, 0.2);}
.keys:active, #darkMode.darkModeToggle:active{box-shadow: inset 0 0 153px 153px rgba(255, 255, 255, 0.55);}

.invert{filter: invert(1);}





#darkMode:hover{box-shadow: inset 0 0 76.5px 76.5px rgba(0,0,0, 0.2);}
#darkMode:active{box-shadow: inset 0 0 153px 153px rgba(0,0,0, 0.8);}

